.logo{
    text-align:center;
    padding:20px;
    font-size:22px;
    font-weight:bold;
}

.active{
    background:#1976d2;
    color:white;
    border-radius:8px;
}

mat-icon{
    margin-right:12px;
}